@font-face {
  font-family: "OG_Renaissance_Secret-Rg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/OG_Renaissance_Secret-Rg.woff2")
    format("woff2");
  font-style: normal;
}
* {
  font-weight: bold;
  font-family: "OG_Renaissance_Secret-Rg";
  font-size: 20px;
}
.wrap {
  background-color: #a8c0d6;
}

.chat {
  display: flex;
  height: 60px;
}
.wrap .ch2 {
  flex-direction: row-reverse;
}
.icon {
  background-color: white;
  width: 60px;
  border-radius: 50%;
  background-image: url("img/gr.jpg");
  background-size: cover;
}
.ch2 > .icon {
  background-image: url("img/re.jpg");
  background-size: cover;
}
.text-box {
  background-color: #ddd;
  width: 300px;
  border-radius: 10px;
  font-size: 18px;
}
.ch2 > .text-box {
  background-color: #f9eb54;
  width: 300px;
  position: relative;
  right: 8px;
  padding-right: 8px;
  text-align: right;
}
.ch1 > .text-box {
  position: relative;
  left: 8px;
}
.chat_box {
  background-color: white;
  border-left: 2px;
  border-right: 2px;
  border-style: hidden;
  height: 100px;
  display: flex;
  flex-direction: row-reverse;
}
.chat_area {
  width: 100%;
}
textarea {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: black
}
.chat_bt {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-bottom-width: 2px;
  border-left-style: hidden;
  height: 100%;
}
.read_check{
position: relative;
top: 35px;
left: 10px;
color: yellow;
}
